.header {
  padding-top: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
  &__logo {
    width: 6rem;
    margin-inline: auto;
    margin-bottom: 3.15rem;
  }
  &__title {
    margin-bottom: 1.5rem;
  }
}
