@use "../abtract/mixin" as layout;
.header {
  padding-top: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
  &__logo {
    width: 6rem;
    margin-inline: auto;
    margin-bottom: 3.15rem;
    @include layout.media-break() {
      width: 4rem;
    }
  }
  &__title {
    margin-bottom: 1.5rem;
  }
}
