@use "../abtract/mixin" as layout;
.information {
  @include layout.flex($gap: 3.5rem);
  @include layout.media-break() {
    padding-inline: 1rem;
  }
  &__diagram {
    width: 45%;
    @include layout.media-break() {
      width: 100%;
    }
  }
}
